
<div class="row">
  <div class="col-lg-12">
    <h1> Apartados <small></small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active"><i class="fa fa-table"></i> Apartados</li>
    </ol>

  </div>
</div><!-- /.row -->

<div class="row" v-bind:class="{ hidden: apartado_btns }">
    <div class="col-lg-6" style="text-align: center">
        <button type="button" v-on:click="apartado_btns= true; apartado_nuevo= true" class="btn btn-primary btn-lg"> Nuevo Apartado</button>
    </div>
    <div class="col-lg-6" style="text-align: center">
        <button type="button" v-on:click="apartado_btns= true; apartado_nuevo= false" class="btn btn-primary btn-lg">Apartado Existente</button>
    </div>
</div><!-- /.row -->

<buscar-cliente v-bind:class="{ hidden: !(apartado_btns && apartado_nuevo) }" v-bind:cliente.sync="cliente"></buscar-cliente>
<agregar-cliente v-bind:class="{ hidden: !(apartado_btns && apartado_nuevo) }" v-bind:cliente.sync="cliente"></agregar-cliente>



<search-apartado v-bind:class="{ hidden: !(apartado_btns && !apartado_nuevo) }" v-bind:abonos.sync="abonos" v-bind:productos.sync="productos" v-bind:apartado.sync="apartado" ></search-apartado>

<nuevo-producto v-bind:class="{ hidden: !(apartado_btns && apartado_nuevo) }" v-bind:productos.sync="productos" ></nuevo-producto>
<grid-producto v-bind:class="{ hidden: !apartado_btns }" v-bind:productos="productos" ></grid-producto>
<abono-apartado v-bind:class="{ hidden: !apartado_btns }" v-bind:abonos.sync="abonos"></abono-apartado>
<grid-abono-apartado v-bind:class="{ hidden: !apartado_btns }" v-bind:abonos="abonos"></grid-abono-apartado>
<nuevo-apartado v-bind:class="{ hidden: !(apartado_btns && apartado_nuevo) }" v-bind:cliente="cliente" v-bind:productos="productos" v-bind:abonos="abonos"></nuevo-apartado>
<update-apartado v-bind:apartado="apartado" v-bind:class="{ hidden: !(apartado_btns && !apartado_nuevo)  }" v-bind:cliente="cliente" v-bind:abonos="abonos"></update-apartado>
<!-- <apartado></apartado>
<cliente></cliente>
<search-client></search-client> -->

<!-- <div class="row results">
          <div v-for="item in inventario" class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-12 text-right">
                    <p class="announcement-heading">{{item.quantity}}</p>
                    <p class="announcement-text">{{item.name}}</p>
                    {{item.price | currency }} {{item.des}}
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                      <button v-on:click="caja_add(item)" type="button" class="btn btn-primary btn-lg btn-block">Agregar</button>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div> -->

        
