
<div class="row">
  <div class="col-lg-12">
    <h1> Apartados <small></small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active"><i class="fa fa-table"></i> Apartados</li>
    </ol>

  </div>
</div><!-- /.row -->

<div class="row">
    <div class="col-lg-6" style="text-align: center">
        <button type="button" class="btn btn-primary btn-lg"> Nuevo Apartado</button>
    </div>
    <div class="col-lg-6" style="text-align: center">
        <button type="button" class="btn btn-primary btn-lg">Apartado Existente</button>
    </div>
</div><!-- /.row -->
{{cliente}}
{{productos}}
<nuevo-cliente v-bind:cliente.sync="cliente"></nuevo-cliente>
<nuevo-producto v-bind:productos.sync="productos" ></nuevo-producto>
<grid-producto v-bind:productos="productos" ></grid-producto>
<nuevo-apartado v-bind:cliente="cliente" v-bind:productos="productos"></nuevo-apartado>

<!-- <apartado></apartado>
<cliente></cliente>
<search-client></search-client> -->

<div class="row">
  <div class="col-lg-12">
      <h2>Búsqueda de apartado</h2>
        <div class="form-group input-group">
          <input v-model="searchFld"  type="text" class="form-control" v-on:keyup.enter="caja_search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
  </div>
</div><!-- /.row


<div class="row ">
<h2>Detalles </h2>
</div><!-- /.row -->
<div class="row">
  <div class="col-lg-3">
      <div class="form-group">
          <label>Folio</label>
          <input type="text" v-model="cVentaDetalle.id" class="form-control" disabled>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
      </div>
  </div>
  <div class="col-lg-3">
      <div class="form-group">
          <label>Fecha</label>
          <input type="text" v-model="cVentaDetalle.fecha" class="form-control" disabled>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
      </div>
  </div>
  <div class="col-lg-3">
      <div class="form-group">
          <label>Total</label>
          <input type="text" v-model="cVentaDetalle.total" class="form-control" disabled>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
      </div>
  </div>
</div><!-- /.row -->

<div class="row ">
<h2>Cliente </h2>
</div><!-- /.row -->
<div class="row">
  <div class="col-lg-3">
      <div class="form-group">
          <label>Folio</label>
          <input type="text" v-model="cVentaDetalle.id" class="form-control" disabled>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
      </div>
  </div>
  <div class="col-lg-3">
      <div class="form-group">
          <label>Fecha</label>
          <input type="text" v-model="cVentaDetalle.fecha" class="form-control" disabled>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
      </div>
  </div>
  <div class="col-lg-3">
      <div class="form-group">
          <label>Total</label>
          <input type="text" v-model="cVentaDetalle.total" class="form-control" disabled>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
      </div>
  </div>
</div><!-- /.row -->






<!-- <div class="row results">
          <div v-for="item in inventario" class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-12 text-right">
                    <p class="announcement-heading">{{item.quantity}}</p>
                    <p class="announcement-text">{{item.name}}</p>
                    {{item.price | currency }} {{item.des}}
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                      <button v-on:click="caja_add(item)" type="button" class="btn btn-primary btn-lg btn-block">Agregar</button>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div> -->
