<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-print.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-print-sm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print-style.css">
  </head>
  <body>

    <%- include(view, {id: id}); %>

    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/vue.min.js"></script>
    <script src="/javascripts/vue-router.js"></script>
    <script src="/javascripts/accounting.min.js"></script>
    <script src="/javascripts/axios.min.js"></script>
    <script src="/javascripts/barcode.js"></script>
    <script src="/javascripts/pos.js"></script>
    <script src="/javascripts/barcode.all.min.js"></script>
    <script src="/javascripts/views/<%= view %>.js"></script>
  </body>
</html>
